@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Oswald&family=Pacifico&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
.body{
    height: 5000px;
}
.body::-webkit-scrollbar{
    width: 10px;
}
.body::-webkit-scrollbar-track{
    background-color: #232F3E;
}
.body::-webkit-scrollbar-thumb{
    background-color: #e79e79;
    border-radius: 5px;
}
/*Social style*/
.social-outer{
    width: 50px;
    height: 200px;
    /*background-color: #e79e79;*/
    position: fixed;
    right: 0;
    bottom: 150px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}
.social-inner-wrap{
    flex: 1;
    /*border: 1px solid black;*/
    position: relative;
}
.slide-context{
    background-color: black;
    width: 150px;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;

    color: #e79e79;
    font-size: 15px;
    padding: 0 10px;
}
.social-inner-wrap:hover>.slide-context{
    right: 50px;
}
.social-logo{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-logo:hover{
    background-color: #e79e79;
    color: white;
}
/*Social style*/
.main-slider-outer{
    width: 100%;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/189296/pexels-photo-189296.jpeg?cs=srgb&dl=pexels-donald-tong-189296.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*nav style*/
.nav-outer{
    width: 100%;
    height: 80px;
    background-color: #0F172B;
    position: fixed;
    top: 0;
    display: flex;
    z-index: 100;
}
.logo-outer{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-outer > img{
    margin-left: 20px;
    height: 50px;
}
.nav-bar-context{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/*nav*/
.nav{
    list-style: none;
    display: flex;
}
.nav>li>span>a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}
.nav>li{
    border-bottom: 2px solid transparent;
    display: flex;
    align-items: center;
}
.line{
    width: 2px;
    height: 10px;
    background-color: white;
    margin: 0 20px;
}
.nav>li:last-child{
    border-right: 0;
}
.nav>li:hover{
    cursor: pointer;
    border-color: white;
}
.nav>li:hover>span>a{
    color: #e79e79;
}
.book-button{
    padding: 8px 15px;
    background: none;
    margin: 0 20px;
    border-color: #e79e79;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.book-button:hover{
    background-color: #e79e79;
}
/*nav*/
/*Search style*/
.search-wrapper{
    width: 400px;
    height: 40px;
    margin-right: 25px;
    background-color: white;
    border-radius: 5px;
    display: flex;
}
.search-type{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    width: 50px;
    height: 100%;
    background-color: lightgray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-wrapper>input[type = search]{
    flex: 1;
    background: none;
    border: none;
    padding: 0 15px;
}
.search-wrapper>input[type =search]:focus{
    outline: none;
}
.search-icon{
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e79e79;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
/*Search style*/
/*slider-middle-text style*/
.middle-text-outer{
    width: 100%;
    height: 150px;
    position: relative;
}
.book-today-text{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #00116c;
    font-size: 55px;
    font-weight: bolder;

}
.weekend-offer-text{
    font-weight: bold;
    text-align: center;
    color: #e79e79;
    font-size: 40px;
}
/*slider-middle-text style*/
/*booking-widget-style*/
.widget-main-outer{
    width: 100%;
    height: 70px;
    margin-top: 50px;
}
.widget-inner{
    width: 80%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    display: flex;
}
.widget-components-wrapper:first-child{
    width: 40%;
}
.widget-components-wrapper{
    height: 100%;
    width: 20%;
    display: flex;
}
.widget-components-wrapper>input[type=date],
.widget-components-wrapper>select{
    flex: 1;
    padding: 0 20px;
    font-size: 16px;
    border: none;
}
.widget-components-wrapper>input[type=date]:focus,
.widget-components-wrapper>select:focus{
    outline: none;
}
.widget-components-wrapper>input[type=submit]{
    flex: 1;
    border: none;
    background-color: #0F172B;
    color: white;
    font-size: 16px;
}
.widget-components-wrapper>input[type=submit]:hover{
    background-color: #e79e79;
    cursor: pointer;
}
/*booking-widget-style*/
/*nav style*/