@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Oswald&family=Pacifico&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.body::-webkit-scrollbar{
    width: 10px;
}
.body::-webkit-scrollbar-track{
    background-color: #232F3E;
}
.body::-webkit-scrollbar-thumb{
    background-color: #e79e79;
    border-radius: 5px;
}
/*Social style*/
.social-outer{
    width: 50px;
    height: 200px;
    /*background-color: #e79e79;*/
    position: fixed;
    right: 0;
    bottom: 150px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}
.social-inner-wrap{
    flex: 1;
    /*border: 1px solid black;*/
    position: relative;
}
.slide-context{
    background-color: black;
    width: 150px;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;

    color: #e79e79;
    font-size: 15px;
    padding: 0 10px;
}
.social-inner-wrap:hover>.slide-context{
    right: 50px;
}
.social-logo{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-logo:hover{
    background-color: #e79e79;
    color: white;
}
/*Social style*/
.main-slider-outer{
    width: 100%;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/189296/pexels-photo-189296.jpeg?cs=srgb&dl=pexels-donald-tong-189296.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*nav style*/
.nav-outer{
    width: 100%;
    height: 80px;
    background-color: #0F172B;
    position: fixed;
    top: 0;
    display: flex;
    z-index: 100;
}
.logo-outer{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-outer > img{
    margin-left: 20px;
    height: 50px;
}
.nav-bar-context{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/*nav*/
.nav{
    list-style: none;
    display: flex;
}
.nav>li>span>a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}
.nav>li{
    border-bottom: 2px solid transparent;
    display: flex;
    align-items: center;
}
.line{
    width: 2px;
    height: 10px;
    background-color: white;
    margin: 0 20px;
}
.nav>li:last-child{
    border-right: 0;
}
.nav>li:hover{
    cursor: pointer;
    border-color: white;
}
.nav>li:hover>span>a{
    color: #e79e79;
}
.book-button{
    padding: 8px 15px;
    background: none;
    margin: 0 20px;
    border-color: #e79e79;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.book-button:hover{
    background-color: #e79e79;
}
/*nav*/
/*Search style*/
.search-wrapper{
    width: 400px;
    height: 40px;
    margin-right: 25px;
    background-color: white;
    border-radius: 5px;
    display: flex;
}
.search-type{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    width: 50px;
    height: 100%;
    background-color: lightgray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-wrapper>input[type = search]{
    flex: 1;
    background: none;
    border: none;
    padding: 0 15px;
}
.search-wrapper>input[type =search]:focus{
    outline: none;
}
.search-icon{
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e79e79;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
/*Search style*/
/*slider-middle-text style*/
.middle-text-outer{
    width: 100%;
    height: 150px;
    position: relative;
}
.book-today-text{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #00116c;
    font-size: 55px;
    font-weight: bolder;

}
.weekend-offer-text{
    font-weight: bold;
    text-align: center;
    color: #e79e79;
    font-size: 40px;
}
/*slider-middle-text style*/
/*booking-widget-style*/
.widget-main-outer{
    width: 100%;
    height: 70px;
    margin-top: 50px;
}
.widget-inner{
    width: 80%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    display: flex;
}
.widget-components-wrapper:first-child{
    width: 40%;
}
.widget-components-wrapper{
    height: 100%;
    width: 20%;
    display: flex;
}
.widget-components-wrapper>input[type=date],
.widget-components-wrapper>select{
    flex: 1;
    padding: 0 20px;
    font-size: 16px;
    border: none;
}
.widget-components-wrapper>input[type=date]:focus,
.widget-components-wrapper>select:focus{
    outline: none;
}
.widget-components-wrapper>input[type=submit]{
    flex: 1;
    border: none;
    background-color: #0F172B;
    color: white;
    font-size: 16px;
}
.widget-components-wrapper>input[type=submit]:hover{
    background-color: #e79e79;
    cursor: pointer;
}
/*booking-widget-style*/
/*nav style*/
/*about-styles*/
.about-wrapper{
    width: 100%;
    height: 300px;
    display: flex;
}
.about-inner{
    flex: 1;
    display: flex;
    align-items: center;
}
.about-inner:first-child{
    flex-direction: column;
    position: relative;
    justify-content: center;
}
.about-inner>p{
    font-size: 16px;
    color: darkgray;
    font-family: 'Roboto Light', sans-serif;
    padding: 0 20px;
    line-height: 30px;
    text-align: justify;
}
.welcome-text{
    color: #e79e79;
    font-size: 80px;
    text-align: center;
    width: 100%;
    font-family: 'Dancing Script', cursive;
}
.enjoy-text{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Roboto Light',sans-serif;
    text-align: center;
    width: 100%;
    margin-top: -40px;
}
/*about-styles*/
/*services-area-styles*/
.services-main-outer{
    width: 100%;
    height: 500px;
    /*border: 1px solid red;*/
    display: flex;
}
.service-inner{
    flex: 1;
    /*border: 1px solid red;*/
    transition: 0.5s ease-in-out;
}
.service-inner:hover{
    cursor: pointer;
    margin-top: -40px;
}
.service-inner:first-child{
    background-image: url("https://img.freepik.com/free-photo/cup-coffee-breakfast_1339-7332.jpg?w=740&t=st=1693675719~exp=1693676319~hmac=8e3e8aba3aa4d6382d0dacb4b0151e07f4fe568f55c04efb004201daf808a032");
    background-size: cover;
    background-position-x: -300px;
}
.service-inner:nth-child(2){
    background-image: url("https://img.freepik.com/free-photo/relaxing-woman-sitting-comfortable-sofa-lounge-chair-home_231208-588.jpg?w=740&t=st=1693675820~exp=1693676420~hmac=4aefc9560428f04cc6078032b89eab83e9163a77e345708a548f5acd3c86f98c");
    background-size: cover;
    background-position-x: -300px;
}
.service-inner:nth-child(3){
    background-image: url("https://img.freepik.com/free-photo/portrait-beautiful-young-asian-woman-happy-smile-relax-around-neary-beach-sea_74190-8155.jpg?w=740&t=st=1693675997~exp=1693676597~hmac=3b1c0b69fb165c27dfb5f5eb08a120fb661611860cee025d545ec59825bffa8b");
    background-size: cover;
    background-position-x: -300px;
}
.service-inner:last-child{
    background-image: url("https://img.freepik.com/free-photo/christmas-table-served-with-turkey-decorated-with-bright-tinsel-candles_2829-18808.jpg?w=740&t=st=1693676139~exp=1693676739~hmac=d7bde377e96f1b468d3f78a10d1605e615b800458013886b20e072685054c1aa");
    background-size: cover;
    background-position-x: -300px;
}
.shadow-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(15, 23, 43, 0.5);
}
.show-wrapper{
    width: 100%;
    min-height: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hidden-wrapper{
    width: 100%;
    min-height: 200px;
    height: auto;
    display: none;
}
.service-inner:hover>.shadow-wrapper>.show-wrapper{
    display: none;
}
.service-inner:hover>.shadow-wrapper>.hidden-wrapper{
    display: flex;
    align-items: center;
}
.show-wrapper>p{
    text-align: center;
}
.show-wrapper>h2{
    text-align: center;
}
.show-wrapper>p>i{
    font-size: 55px;
    color: white;
}
.show-wrapper >h2{
    font-size: 25px;
    color: white;
    margin-top: 20px;
}
.hidden-wrapper > p {
    text-align: justify;
    color: white;
    font-size: 17px;
    font-family: 'Roboto Light', sans-serif;
    padding: 0 20px;
}
/*services-area-styles*/
/*blog-styles*/
.blog-outer{
    width: 100%;
    height: 500px;
    /*border: 1px solid red;*/
    margin: 50px 0;
}
.blog-inner{
    width: 80%;
    height: 100%;
    /*border: 1px solid red;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.blog-items-wrapper{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.blog-items-img-wrap{
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
}
.i1{
    background-image: url("https://img.freepik.com/free-photo/luxury-bedroom-suite-resort-high-rise-hotel-with-working-table_105762-1783.jpg?size=626&ext=jpg&ga=GA1.2.1015865261.1695043255&semt=sph");
}
.i2{
    background-image: url("https://img.freepik.com/free-photo/elegant-hotel-room-with-big-bed_1203-1494.jpg?size=626&ext=jpg&ga=GA1.1.1015865261.1695043255&semt=sph");
}
.i3{
    background-image: url("https://img.freepik.com/free-photo/luxury-bedroom-hotel_1150-10836.jpg?size=626&ext=jpg&ga=GA1.1.1015865261.1695043255&semt=sph");
}
.blog-desc{
    flex: 1;
    display: flex;
    align-items: center;
}
.blog-desc>p{
    text-align: justify;
    padding: 0 20px;
}
/*blog-styles*/
/*footer-set-styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}



footer {
    color: #ffffff;
    background-color: #0F172B;
    /*position: fixed;*/
    bottom: 0;
}

.row {
    display: flex;
    padding: 1rem;
}

.column {
    width: calc(100% / 3);
    padding: 0 0.9375rem;
}

h4 {
    margin-bottom: 0.9375rem;
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.3rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-bottom: 0.625rem;
}

ul li a {
    color: #ffffff;
    font-size: 1rem;
    transition: 0.3s all ease;
}

ul li i {
    color: #e79e79;
}

ul li a:hover {
    color: #e79e79;
    margin-left: 0.2rem;
}

ul.social-icons {
    display: flex;
    column-gap: 0.625rem;
}

.social-icons i {
    color: #e79e79;
}

ul.social-icons li {
    margin-bottom: 0rem;
}

ul.social-icons li a {
    display: grid;
    place-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    border: 1.5px solid #e79e79;
}

ul.social-icons li:hover a {
    background-color: #e79e79;
    animation: shake 0.3s ease;
    margin-left: 0;
}

ul.social-icons li:hover i {
    color: #fff;
}

.copyright {
    text-align: center;
    color: #fff;
    background-color: #0F172B;
    padding: 0.6rem 0;
}

/* Shake animation */
@keyframes shake {
    from,
    to {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}


/* Responsive adjustments for mobile version */
@media screen and (max-width: 768px) {
    .column {
        margin: 0.4rem 0;
        width: 100%;
        padding: 0;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    h4 {
        font-size: 1.3125rem;
    }

    p {
        font-size: 0.9375rem;
    }

    ul li a {
        font-size: 0.9375rem;
    }

    ul.social-icons li a {
        width: 1.975rem;
        height: 1.975rem;
    }
}

/*footer-set-styles*/